*{
    font-style: Helvetica;
    background-color: rgb(37, 37, 36);
    margin: 0;
    height: 50%;
    color: white;
    
}


.Clogo{
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}

.Title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.Rounds{
    text-align: center;
    margin: 2%;
    font-size: 130%;
    color: rgb(238, 94, 58);
}

h{
    color: white;
    font-size: 200%;
    font: bold;
}


 /* Qualifiers */


 es{
    padding: .25rem .25rem;
 }

 md{
    padding: .25rem .25rem;
    font-size:120%;
 }


.rm{
     display: table-row-group;
 }


div{
    padding: 0.3cm;
    
}



ot1{
    display: table-row;
}

.Qualifiers{
    text-align: center;
    font-size: large;
    margin: 2%;
}

.PoolBody{
    width: 100%;
    
}

md{
    font: bolder;
    color: rgb(204, 63, 44);
}

a{
    color: white;
    text-decoration: underline;
}







